<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#50a3a2">
  <link rel="mask-icon" href="favicon.svg" color="#000000">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/cropper/3.0.0/cropper.min.css" rel="stylesheet">
  <title>Violet</title>
  <style>
    body {
      min-width: 500px;
    }
  </style>
</head>

<body>
  <div class="modal fade" id="dialogDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="dialogTitle">请确认你的操作</h4>
        </div>
        <div class="modal-body" id="dialogText" style="font-size: 12px;">
          是否取消对网站的授权
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-times fa-fw"></i> 否</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" id="sureBtn" value="0" onclick="noAuth(this)"><i class="fa fa-check fa-fw"></i> 是</button>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container" style="padding-top: 1%;">
      <div id="noticeDiv"></div>
      <div class="col-md-12">
        <p style="font-size: 50px;color: #eee">
          <svg t="1498148324009" class="icon" style="margin-bottom: -7px;" viewbox="0 0 1038 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
            p-id="7587" xmlns:xlink="http://www.w3.org/1999/xlink" width="50" height="50">
            <path d="M971.172807 331.503669c34.709814 586.419956-371.606299 636.62524-455.83842 692.496331-84.26712-55.87109-490.583232-106.076374-455.907417-692.496331C66.662723 209.830828 0.007001 180.751822 0.007001 180.751822L39.631647 57.884022C158.540582 136.076349 386.459792 133.038453 515.334387 0c128.805597 133.038453 356.724807 136.075349 475.667742 57.884022l39.658645 122.8678s-66.654722 29.079006-59.487967 150.751847z m-320.514045-33.34486L531.64783 632.051397a304.540591 304.540591 0 0 0-14.709497 65.187772H514.822405c-1.672943-17.952386-7.133756-40.238625-16.38244-66.859715L384.889846 298.158809h-90.000924l174.95002 465.088103h83.243155l184.198704-465.088103H650.657762z"
              fill="#eee" p-id="7588" class=""></path>
          </svg> Violet User Center
        </p>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p style="padding-top: 20px;text-align: center;">
              <img id="userAvatar" class="img-circle" src="pic/10000.png" height="120px" width="120px" href="#tabAvatar" aria-controls="tabAvatar"
                role="tab" data-toggle="tab"></p>
            <p id="userName" style="font-size: 20px;text-align: center;"></p>
          </div>
          <div class="panel-body" style="padding-top: 10%;">
            <button onclick="cleanNotice()" class="btn btn-success btn-block" href="#tabHome" aria-controls="tabHome" role="tab" data-toggle="tab"><i class="fa fa-info fa-fw"></i> 个人资料</button>
            <button onclick="cleanNotice()" class="btn btn-success btn-block" href="#tabPassword" aria-controls="tabPassword" role="tab"
              data-toggle="tab"><i class="fa fa-key fa-fw"></i> 修改密码</button>
            <button onclick="cleanNotice()" class="btn btn-success btn-block" href="#tabViolet" aria-controls="tabViolet" role="tab"
              data-toggle="tab"><i class="fa fa-check fa-fw"></i> 授权管理</button>
            <button onclick="cleanNotice()" id="devButton" class="btn btn-success btn-block" href="#tabVioletDev" aria-controls="tabVioletDev"
              role="tab" data-toggle="tab"><i class="fa fa-globe fa-fw"></i> 我的网站</button>
            <button onclick="logout()" class="btn btn-danger btn-block"><i class="fa fa-sign-out fa-fw"></i> 退出登陆</button>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active fade in" id="tabHome">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p style="font-size: 22px;margin-bottom: -5px;"><i class="fa fa-info fa-1x fa-fw"></i> 个人资料</p>
              </div>
              <div class="panel-body">
                <div style="padding: 20px 30px 12px 20px;">
                  <p style="font-size: 20px;"><i class="fa fa-envelope-o fa-fw"></i> 邮箱: {{user.email}}</p>
                  <p style="font-size: 20px;"><i class="fa fa-user-circle fa-fw"></i> 用户名: {{user.name}}</p>
                </div>
                <div class="col-md-12">
                  <div class="input-group" style="padding-bottom: 15px;">
                    <span class="input-group-addon"><i class="fa fa-male fa-fw"></i>性别</span>
                    <div class="radio">
                      <label style="padding-right: 10px;"><input type="radio" name="optionsRadios" id="optionsRadios1" value="0">男</label>
                      <label style="padding-right: 10px;"><input type="radio" name="optionsRadios" id="optionsRadios2" value="1">女</label>
                      <label style="padding-right: 10px;"><input type="radio" name="optionsRadios" id="optionsRadios3" value="2" checked>保密</label>
                    </div>
                  </div>
                  <div class="input-group" style="padding-bottom: 15px;">
                    <span class="input-group-addon"><i class="fa fa-birthday-cake fa-fw"></i>生日</span>
                    <input id="userBirthDate" class="form-control" type="text" :placeholder="user.birthDate">
                  </div>
                  <div class="input-group" style="padding-bottom: 15px;">
                    <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i>手机号码</span>
                    <input id="userPhone" class="form-control" type="text" :placeholder="user.phone">
                  </div>
                  <div class="input-group" style="padding-bottom: 15px;">
                    <span class="input-group-addon"><i class="fa fa-globe fa-fw"></i>个人主页</span>
                    <input id="userWeb" class="form-control" type="text" :placeholder="user.web">
                  </div>
                  <div class="input-group" style="padding-bottom: 15px;">
                    <span class="input-group-addon"><i class="fa fa-align-left fa-fw"></i>个人简介</span>
                    <input id="userDetail" class="form-control" type="text" :placeholder="user.detail">
                  </div>
                </div>
              </div>
              <div class="panel-footer" style="text-align: right;">
                <input id="toTabAvatarInput" type="file" style="display:none;">
                <button id="toTabAvatar" href="#tabAvatar" aria-controls="tabAvatar" role="tab" data-toggle="tab" style="display:none;"></button>
                <button class="btn btn-success" onclick="uploadFile()"><i class="fa fa-upload fa-fw"></i> 上传头像</button>
                <button class="btn btn-success" onclick="setUserInfo()"><i class="fa fa-pencil fa-fw"></i> 修改信息</button>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="tabVioletDev">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p style="font-size: 22px;margin-bottom: -5px;"><i class="fa fa-globe fa-1x fa-fw"></i> 网站管理</p>
              </div>
              <div class="panel-body" style="padding-top: 5%;">
                <div class="col-md-12" v-for="(web,index) in webs" style="padding-bottom: 20px;">
                  <div class="col-md-7" style="font-size: 20px;">
                    <i class="fa fa-circle-thin fa-fw"></i> {{web.name}}
                  </div>
                  <div class="col-xs-offset-7" style="font-size: 20px;text-align: right;">
                    <button class="btn btn-success" :value="index" onclick="toWebData(this)" href="#tabWebDev" aria-controls="tabWebDev" role="tab"
                      data-toggle="tab"><i class="fa fa-pencil fa-fw"></i> 详细信息</button>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                <button class="btn btn-success" onclick="addSite()"><i class="fa fa-plus fa-fw"></i> 新增网站</button>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="tabWebDev">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p style="font-size: 22px;margin-bottom: -5px;"><i class="fa fa-info fa-1x fa-fw"></i> <b id="webName"></b> | 修改资料</p>
              </div>
              <div class="panel-body">
                <div style="padding: 20px 30px 0px 20px;">
                  <p style="font-size: 20px;"><i class="fa fa-id-card-o fa-fw"></i> 网站授权ID: <b id="webID"></b></p>
                </div>
                <div style="padding: 3px 30px 0px 20px;">
                  <p style="font-size: 20px;"><i class="fa fa-id-card-o fa-fw"></i> 授权跳转URL: <b id="webHelpUrl"></b></p>
                </div>
                <div style="padding: 3px 30px 0px 20px;">
                  <p style="font-size: 20px;"><i class="fa fa-check fa-fw"></i> 授权次数: <b id="webNum"></b></p>
                </div>
                <div style="padding: 3px 30px 0px 20px;">
                  <p style="font-size: 20px;"><i class="fa fa-id-card fa-fw"></i> 网站Key: <b id="webKey"></b>
                    <button style="margin-left: 50px;" class="btn btn-success" onclick="changeKey()"><i class="fa fa-key fa-fw"></i> 更改key</button>
                  </p>
                </div>
                <div class="input-group" style="padding-bottom: 15px;">
                  <span class="input-group-addon" style="font-size: 20px;"><i class="fa fa-globe fa-fw"></i>网站名字</span>
                  <input id="theSiteName" class="form-control" type="text" placeholder="name">
                </div>
                <div class="input-group" style="padding-bottom: 15px;">
                  <span class="input-group-addon" style="font-size: 20px;"><i class="fa fa-globe fa-fw"></i>回调地址</span>
                  <input id="callBack" class="form-control" type="text" placeholder="如: oauth.xmatrix.studio/user.html">
                </div>
              </div>
              <div class="panel-footer" style="text-align: right;">
                <button class="btn btn-success" href="#tabVioletDev" role="tab" data-toggle="tab"><i class="fa fa-arrow-left fa-fw"></i> 返回</button>
                <button id="changeWebData" href="#tabVioletDev" role="tab" data-toggle="tab" class="btn btn-info" value="0" onclick="setWebInfo()"><i class="fa fa-pencil fa-fw"></i> 确认修改</button>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="tabPassword">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p style="font-size: 22px;margin-bottom: -5px;"><i class="fa fa-key fa-1x fa-fw"></i> 修改密码</p>
              </div>
              <div class="panel-body" style="padding-top: 3%;">
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="fa fa-gg"></i></span>
                  <input type="name" id="vCode" class="form-control" placeholder="邮箱验证码">
                  <span class="input-group-btn">
                                    <button id="gCode" class="btn btn-success" type="button" onclick="getCode()" style="margin-left: 10px;">发送验证码</button>
                                    </span>
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input type="password" id="userPasswordF" class="form-control" placeholder="新密码">
                </div>
                <div class="form-group input-group">
                  <span class="input-group-addon"><i class="fa fa-key"></i></span>
                  <input type="password" id="userPassword2F" class="form-control" placeholder="新密码">
                </div>
              </div>
              <div class="panel-footer" style="text-align: right;">
                <button type="submit" class="btn btn-warning btn-lg" onclick="reSetPwd()"><i class="fa fa-check fa-fw"></i> 确认</button>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="tabAvatar">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p style="font-size: 22px;margin-bottom: -5px;"><i class="fa fa-key fa-1x fa-fw"></i> 上传头像</p>
              </div>
              <div class="panel-body" style="padding-top: 3%;">
                <div>
                  <img id="image" style="max-width:100%;" src="pic/10000.png">
                </div>
              </div>
              <div class="panel-footer" style="text-align: right;">
                <button type="button" class="btn btn-success"><i class="fa fa-upload fa-fw"></i> 修改头像</button>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade in" id="tabViolet">
            <div class="panel panel-default">
              <div class="panel-heading">
                <p style="font-size: 22px;margin-bottom: -5px;"><i class="fa fa-check fa-1x fa-fw"></i> 授权管理</p>
              </div>
              <div class="panel-body" style="padding-top: 5%;">
                <div class="col-md-12" v-for="(web, index) in webs" style="padding-bottom: 20px;">
                  <div class="col-md-8" style="font-size: 20px;">
                    <i class="fa fa-globe fa-fw"></i> {{web.name}}
                  </div>
                  <div class="col-xs-offset-8" style="font-size: 20px;text-align: right;">
                    <button :id="'btnSignIn' + index" class="btn btn-success" :value="web.sid"><i class="fa fa-sign-in fa-fw"></i> 登陆</button>
                    <button class="btn btn-warning" :value="web.sid" :data="web.name" onclick="deleteWeb(this)" data-toggle="modal" data-target="#dialogDiv"><i class="fa fa-times fa-fw"></i> 取消授权</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.3.3/vue.js"></script>
<script src="https://cdn.bootcss.com/cropper/3.0.0/cropper.min.js"></script>
<script src="js/violet.js"></script>
<script>
  var tabViolet = new Vue({
    el: '#tabViolet',
    data: {
      webs: [],
    }
  });

  var tabVioletDev = new Vue({
    el: '#tabVioletDev',
    data: {
      webs: [],
    }
  });

  var tabHome = new Vue({
    el: '#tabHome',
    data: {
      user: {}
    }
  });

  let option = {
    viewMode: 2,
    dragMode: 'crop',
    aspectRatio: 1 / 1,
    crop: function (e) {
      // Output the result data for cropping image.
      /*console.log(e.x);
      console.log(e.y);
      console.log(e.width);
      console.log(e.height);
      console.log(e.rotate);
      console.log(e.scaleX);
      console.log(e.scaleY);*/
    }
  };
  let URL = window.URL || window.webkitURL;


  function deleteWeb(e) {
    document.getElementById('sureBtn').value = e.getAttribute('value');
    $('#dialogTitle').html('确认你的操作');
    $('#dialogText').html('是否取消对网站 <b>' + e.getAttribute('data') + '</b> 的授权');
  }


  function noAuth(e) {
    $.post('/api/noAuth', {
      sid: e.getAttribute('value'),
    }, (data) => {
      getUserInfo();
    });
  }

  var countdown = 120;

  function getCode() {
    $.post('/api/getCode', {
      email: tabHome.user.email,
    }, (data) => {
      if (data.state == 'ok') {
        setTime();
      } else {
        switch (data.reason) {
          case 'NO_EMAIL':
            sendNotice('用户信息错误，请重新登陆');
            break;
          case 'WAITING_TIME':
            sendNotice('请一分钟后再尝试获取');
            break;
          default:
            sendNotice('未知错误' + data.reason);
        }
      }
    });
  }

  function reSetPwd() {
    if (isNullTest('vCode', '验证码不能为空')) return;
    if (isNullTest('userPasswordF', ' 密码不能为空')) return;
    if (isNullTest('userPassword2F', '密码不能为空')) return;
    pattern = /^.{6,24}$/;
    if (!regularTest(pattern, 'userPasswordF', '请输入6-24位的密码')) return;
    if ($('#userPasswordF').val() != $('#userPassword2F').val()) {
      formErr('两次输入的密码不一致', 'userPassword2F');
      return;
    }
    $.post('/api/reset', {
      email: tabHome.user.email,
      vCode: $('#vCode').val(),
      password: $('#userPasswordF').val(),
    }, (data) => {
      if (data.state == 'ok') {
        $('#userEmail').val($('#userEmailF').val());
        sendNotice('重置密码成功');
        $('#vCode').val('');
        $('#userPasswordF').val('');
        $('#userPassword2F').val('');
      } else {
        switch (data.reason) {
          case 'NO_EMAIL':
            sendNotice('用户信息错误，请重新登陆');
            break;
          case 'ERR_CODE':
            formErr('验证码错误', 'vCode');
            break;
          default:
            sendNotice('未知错误' + data.reason);
        }
      }
    });
  }

  function addSite() {
    $.post('/api/addSite', {}, (data) => {
      if (data.state == 'ok') {
        sendNotice('新增网站成功(当前账号限额<b>' + data.count + '/' + data.max + '</b>)');
        getWebInfo();
      } else if (data.reason == 'MAX') {
        sendNotice('请求失败(当前账号限额 <b>' + data.max + '</b> 已满)');
      } else if (data.reason == 'ERR_TOKEN' || data.reason == 'TIMEOOUT') {
        logout();
      } else {
        sendNotice('非法操作');
      }
    });
  }

  function setUserInfo() {
    $.post('/api/setUserInfo', {
      birthDate: $('#userBirthDate').val(),
      phone: $('#userPhone').val(),
      web: $('#userWeb').val(),
      detail: $('#userDetail').val(),
      sex: $("input[type='radio']:checked").val(),
    }, (data) => {
      if (data.state == 'ok') {
        sendNotice('修改个人信息成功');
      } else if (data.reason == 'ERR_TOKEN' || data.reason == 'TIMEOOUT') {
        logout();
      } else {
        sendNotice('非法操作');
      }
    });
  }

  function upload() {
    // 坑太大填不上
  }

  function getUserInfo() {
    $.post('/api/getUserInfo', {}, (data) => {
      if (data.state == 'ok') {
        tabHome.user = data.userData;
        tabViolet.webs = data.webData;
        Vue.nextTick(function () {
          for (var i in tabViolet.webs) {
            $('#btnSignIn' + i).click(function () {
              var w = window.open()
              $.post('/api/auth', {
                sid: this.getAttribute('value'),
              }, (data) => {
                if (data.state == 'failed') {
                  switch (data.reason) {
                    case 'ERR_TOKEN':
                      sendNotice('非法访问，请重新登陆');
                      logout();
                      break;
                    case 'TIMEOUT':
                      sendNotice('登陆已过期，请重新登陆');
                      logout();
                      break;
                    default:
                      sendNotice('未知错误: ' + data.reason);
                  }
                } else {
                  w.location = 'https://' + data.url + '?code=' + data.code
                  //window.open('https://' + data.url + '?code=' + data.code);
                }
              });
            })
          }
        })
        $('#userAvatar').attr('src', tabHome.user.avatar);
        $('#userName').html('Hi, ' + tabHome.user.name);
        document.getElementsByName('optionsRadios')[tabHome.user.sex].checked = true;
        if (tabHome.user.class == 0) {
          $('#devButton').hide();
        } else {
          getWebInfo();
        }
      } else {
        logout();
      }
    });
  }

  function setWebInfo() {
    $.post('/api/setWebInfo', {
      sid: $('#webID').html(),
      url: $('#callBack').val(),
      name: $('#theSiteName').val(),
    }, (data) => {
      if (data.state == 'ok') {
        sendNotice('修改信息成功');
        getWebInfo();
      } else if (data.reason == 'NO_AUTH' || data.reason == 'NO_SITE') {
        sendNotice('设置失败,错误代码：' + data.reason);
      } else {
        logout();
      }
    });
  }

  function toWebData(e) {
    $('#webName').html(tabVioletDev.webs[e.getAttribute('value')].name);
    $('#theSiteName').val(tabVioletDev.webs[e.getAttribute('value')].name);
    $('#webID').html(tabVioletDev.webs[e.getAttribute('value')].sid);
    $('#webHelpUrl').html('https://oauth.xmatrix.studio/?sid=' +
      tabVioletDev.webs[e.getAttribute('value')].sid + '&args=');
    $('#callBack').val(tabVioletDev.webs[e.getAttribute('value')].url);
    $('#webKey').html(tabVioletDev.webs[e.getAttribute('value')].key);
    $('#webNum').html(tabVioletDev.webs[e.getAttribute('value')].loginTimes);
  }

  function getWebInfo() {
    $.post('/api/getWebInfo', {}, (data) => {
      if (data.state == 'ok') {
        tabVioletDev.webs = data.data;
      } else {
        logout();
      }
    });
  }

  function changeKey() {
    $.post('/api/changeKey', {
      sid: $('#webID').html()
    }, (data) => {
      if (data.state == 'ok') {
        sendNotice('成功更改网站Key,请及时修改配置文件');
        $('#webKey').html(data.key);
        getWebInfo();
      } else if (data.reason == 'NO_AUTH' || data.reason == 'NO_SITE') {
        sendNotice('更改失败,错误代码：' + data.reason);
      } else {
        logout();
      }
    });
  }

  function uploadFile() {
    document.getElementById('toTabAvatarInput').click();
  }

  $(function () {
    getUserInfo();
    $('#image').cropper(option);
    $('#toTabAvatarInput').change(() => {
      let arr = document.getElementById('toTabAvatarInput').files;
      if (arr.length == 0) {
        return 0;
      }
      let file = arr[0];
      let uploadedImageURL = URL.createObjectURL(file);
      $('#image').cropper('destroy').attr('src', uploadedImageURL).cropper(option);
      document.getElementById('toTabAvatar').click();
    });
  });

</script>

</html>